:root {
    --background-color: rgb(30, 30, 46);
    --accent-color: rgb(225, 200, 57);
    --foreground-color: rgb(123, 118, 135);
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.map {
    position: relative;
    width: 100%;
    height: 75%;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.image img {
    position: relative;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
}

.points {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.point {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.7;
    transform-origin: center;
    z-index: 4;
    transform: translate(-50%, -50%);
}

.point:hover,
.point.active {
    opacity: 1;
}

.point:hover .info,
.point.active .info {
    display: flex;
}

.info {
    display: none;
    position: relative;
    flex-direction: column;
    min-width: 8rem;
    min-height: 2rem;
    width: fit-content;
    height: fit-content;
    left: 1.5rem;

    background-color: var(--foreground-color);
    border-radius: 0.25rem;
    padding: 0.25rem;
    box-shadow: 0px 0px 5px 5px var(--accent-color);
    color: var(--accent-color);
    text-align: center;

    pointer-events: none;
    user-select: none;
    z-index: 5;
}

.info h1 {
    margin: 0;
    margin-bottom: 0.25rem;
    padding: 0;
    font-size: 1rem;
}

.info p {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
}

.nav-controls {
    width: 100%;
    height: calc(100% - 3rem);

    position: absolute;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: var(--accent-color);
    text-shadow: 4px 4px var(--background-color);

    user-select: none;
    pointer-events: none;
}

.nav-controls * {
    margin: 0;
    padding: 0;
    pointer-events: auto;
    font-family: "Rubik";
}

.nav-controls h1 {
    box-shadow: 0px 0px 5px 2px var(--foreground-color);
    background: rgba(0,0,0,0.2);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 2rem;
    z-index: 3;
}

.controls {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.controls button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--foreground-color);
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px var(--foreground-color);
    transition: background-color 0.3s, transform 0.1s;
    opacity: 0.9;
    z-index: 1;
}

.controls button:hover {
    transform: scale(1.1);
}

.controls button:active {
    opacity: 1;
}

.pathing {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 2;
}

.pathing * {
    position: absolute;
    background-color: var(--accent-color);
    width: 1px;
    height: 1px;
    box-shadow: 0px 0px 0.5px 1px var(--accent-color);
    transform: translate(-50%, -50%);
}

.pathing *:last-child {
    width: 2px !important;
    height: 2px !important;
    background-color: var(--foreground-color);
    box-shadow: 0px 0px 1px 2px var(--foreground-color);
    border-radius: 100%;
}